
/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* CLEARFIX */

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

/* MAIN CONTAINER */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.cont-top{
    width: 80%;
}

/* COMMON */

.layout{
    margin:30px 0;
}

/* HEADER LOGO */

.header-logo img{
    border-right: 1px solid rgb(204, 204, 204);
}

/* HEADER NAV */

header nav a{
    margin-right: 30px;
    text-decoration: none;
    color: black;
}

/* TOP SECTION */

.section-top{
    height: 400px;
    position: relative;
}

section img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.text{
    position: absolute;
    color: rgb(252, 252, 252);
    font-weight: bold;
}

.upper-t{
    position: absolute;
    color: #004d8188;
    font-size: 2em;
    text-decoration: solid;
    top: 10px;
    left: 20px;
}

.bottom-t{
    text-align: center;
    background-color:rgba(0, 0, 0, 0.253);
    padding: 15px;
    color: rgb(252, 252, 252);
    left: 0;
    bottom: 0;
    border-radius: 15px;
}


/* BOTTOM SECTION */

.section-bottom{
    margin-bottom: 20px;
}

/* HEADER OF BOTTOM SECTION */

.summary{
    height: 75px;
    margin-bottom: 20px;
}

.innovation{
    font-size: 2em;
    font-weight: bolder;
}

.future{
    color: grey;
}

/* BLOCKS OF COLUMNS SECTION */

/* COMMON */

.article{
    width: 25%;
    float: left;
}

.center{
    width:calc(50% - 40px);
    float: left;
    margin: 0 20px;
}

.column img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;

}

/* COLUMN TEXT */

.column-title{
    margin: 20px 0;
}

h3 + p{
    color: grey;
}

/* FOOTER */

.footer{
    height: 70px;
}

footer > p{
    line-height: 70px;
    text-align: center;
}

.hearts{
    color: red;
}




